.content {
	width: 50%;
	margin-top: 10%;
	margin-right: 10%;
	right: 15%;
	float: right;
	text-align: left;
	font-size: 20px;
	position: relative;
}
.picture img {
	margin-left: 20%;
	width: auto;
	height: 500px;
	position: relative;
		
}
body{
	background-color: #FFEEDD;
}